/* * {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000;
}

a {
    color: #000;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e;
        color: #fff;
    }

    a {
        color: #fff;
    }
} */